<table>
  <tr>
    <td><%= @month.name_month %>:</td>
    <td>Сумма: <%= @payment.payment %></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">Прочие расходы: <%= @payment.other_payment %></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2">Описание: <%= @payment.description %></td>
  </tr>
</table>

<%= link_to 'Выбор года', years_path %>
