<h1>Вход</h1>

<div class="center">
    <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg,
                        class: "alert alert-danger alert-#{name}" %>
    <% end -%>
</div>

<div class="row center-bloc" id="margin-form">
    <table>
        <%= form_for(:session, url: sessions_path) do |f| %>
            <tr>
                <td><%= f.label :email %></td>
                <td><%= f.text_field :email %></td>
            </tr>
            <tr>
                <td><%= f.label :password, 'Пароль' %></td>
                <td><%= f.password_field :password %></td>
            </tr>
            <tr>
                <td><%= f.submit 'Войти', class: "btn btn-large btn-primary" %></td>
            </tr>
        <% end %>
    </table>
</div>
