<table>
  <%= form_for [@month, @payment] do |f| %>
      <% if @payment.errors.any? %>
          <div>
            <h2>
              <%= pluralize(@payment.errors.count, 'error') %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @payment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <tr>
        <td><%= f.label 'Сумма платежа' %></td>
        <td><%= f.text_field :payment %></td>
      </tr>
      <tr>
        <td><%= f.label 'Затраты на ремонт' %></td>
        <td><%= f.text_field :other_payment %></td>
      </tr>
      <tr>
        <td><%= f.label 'Комментарий' %></td>
        <td><%= f.text_field :description %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit 'Добавить платеж' %></td>
      </tr>
  <% end %>
</table>
