<table class="table">
  <%= form_for [@month, @payment], action: new_month_payment_path do |f| %>
    <%= render 'shared/error_messages', obj: @payment %>
      <tr>
        <td><%= f.label 'Сумма платежа' %></td>
        <td><%= f.text_field :payment %></td>
      </tr>
      <tr>
        <td><%= f.label 'Затраты на ремонт' %></td>
        <td><%= f.text_field :other_payment %></td>
      </tr>
      <tr>
        <td><%= f.label 'Комментарий' %></td>
        <td><%= f.text_field :description %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit 'Добавить платеж', class: 'btn btn-success' %></td>
      </tr>
  <% end %>
</table>
