<table cellspacing="10" class="table">
  <tr class="header">
    <th>Сумма платежа</th>
    <th>Сумма из долга</th>
    <th>Описание</th>
    <th>Долг</th>
    <th>Месяц</th>
  </tr>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.payment %></td>
      <td><%= payment.other_payment %></td>
      <td class="description"><%= payment.description %></td>
      <td><%= payment.debit %></td>
      <td><%= payment.month.name_month %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3">Сумма:</td>
    <td colspan="2"><%= @sum_debit_behind_year %></td>
  </tr>
</table>

<%= button_to 'На главную', root_path, method: :get, class: 'btn btn-success' %>

