<div class="row center size-and-margin-bottom">
  <div class="col-lg-2 col-xs-2">Сумма платежа</div>
  <div class="col-lg-2 col-xs-2">Сумма из долга</div>
  <div class="col-lg-4 col-xs-4">Описание</div>
  <div class="col-lg-2 col-xs-2">Долг</div>
  <div class="col-lg-2 col-xs-2">Месяц</div>
</div>

<% @payments.each do |payment| %>
    <div class="row center index-pay">
      <div class="col-lg-2 col-xs-2"><%= payment.payment %></div>
      <div class="col-lg-2 col-xs-2"><%= payment.other_payment %></div>
      <div class="col-lg-4 col-xs-4 description"><%= payment.description %></div>
      <div class="col-lg-2 col-xs-2"><%= payment.debit %></div>
      <div class="col-lg-2 col-xs-2"><%= payment.month.name_month %></div>
    </div>
<% end %>

<div class="row center" style="margin-bottom: 10px;">
  <div class="col-lg-2 col-xs-2"><strong>Сумма:</strong></div>
  <div class="col-lg-6 col-lg-offset-4 col-xs-6 col-xs-offset-4"><%= @sum_debit_behind_year %></div>
</div>

<div class="row center">
  <div class="col-lg-2 col-xs-2">
    <%= button_to 'На главную', years_path, method: :get, class: 'btn btn-success' %>
  </div>
  <div class="col-lg-10 col-xs-10"></div>
</div>
